/* inital set up */ 
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

:root { 
    --primary-color: #429e8f;
    --secondary-color: #3f3e3d;
    --tertiary-color: #2d7fe8;
}
/* start of header */ 
header { 
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    padding: 20px; 
    box-shadow: 0 4px 7px rgba(0, 0, 0, .5); 
    padding-left: 50px; 
    padding-right: 100px; 
} 

nav { 
    margin: 0 px;    
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
} 

header nav ul {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    list-style: none; 
   

  } 

  header nav ul li a { 
    margin-left: 20px;
    padding: 0PX;
    font-size: 18px; 
    text-decoration: none;  
    color: black;
    } 

    header nav ul li a:hover { 
        color: var(--primary-color); 
        font-weight: bold;
    }

  /* end of header */ 

  /* hero section */ 

  .hero { 
    background-image: url("./assests/images/oslob_bg.jpg");
    background-size: cover;
    background-attachment: fixed; 
    background-position: 80%;   
    z-index: 1;
 }  

 #overlay {
    /* position: fixed;  Sit on top of the page content */
    /* display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

 .hometext { 
     line-height: 1.5;
     width: 40%; 
     text-align: left;  
     display: block;
     margin: 25px;  
     color:white;  
     z-index: 3;
 } 


 #Grove { 
    color: var(--secondary-color); 
}

#Grove-images { 
    display: flex; 
    align-content: center; 
    justify-content: center;
}

#Grove-images img { 
    width: 60% 
} 

 .hometext1 { 
    line-height: 1.5;
    width: 80%; 
    text-align: left;  
    display: block;
    margin: 25px;  
    color:black;  
    z-index: 3;
} 

 h1 { 
     font-size: 32px; 
     font-family: -'Open Sans',; 
     margin-bottom: 25px;
 } 

 p { 
     font-size: 18px; 
     margin-bottom: 25px;
 }

 /* buttons start */
 button { 
     width: 300px; 
     border-color: var(--primary-color); 
     padding: 15px; 
     border-radius: 10px; 
     font-weight: bold; 
     font-size: 24px;  
     color: var(--primary-color);  
     background-color: white;
     z-index: 3;
 }  

 button:hover { 
     background-color: var(--primary-color); 
     color: white; 
 }

 #alt { 
    border-color: white;  
    color: white;  
    background-color: transparent;
 } 

 #grovealt { 
    
    border-color: var(--tertiary-color);  
    color: var(--tertiary-color);  
    background-color: none; 
 }  

 #alt:hover { 
    background-color: var(--primary-color);  
    color: white;
}

 #grovealt:hover { 
    background-color: var(--tertiary-color);  
    color: white;
}

 /* buttons end */ 

  .social-media { 
      margin-left: 50px; 
      align-items: center; 
      
  }  

  #sfooter { 
      right: 50px;
  }



  .homemobile2 { 
    width: 35%;   
  }
.homemobile2 img { 
    width: 100%;
} 

.hometext2 { 
    line-height: 1.5;
    width: 30%; 
    text-align: left;  
    margin: 25px;  
    color:black;  
    z-index: 3; 
    position: relative;
    display: flex;  
    flex-direction: column;
    align-content: center; 
}
.main1 { 
    display: flex; 
    display: flex wrap; 
    padding-left: 150px; 
    padding-right: 150px;
    justify-content: space-between;  
    margin-top: 75px; 
   /* align-content: center;  why does this code not center my divs? */ 
    align-items: center;
    width:100%; 
} 

.main { 
    margin-top: 50px;
}


 section {
    padding: 60px;
  } 

  div { 
    display: flex;  
    
} 

  .icon { 
      margin: 5px;
  } 

  .icon img { 
      width: 30px; 
  }

  .main2{  
      display: flex; 
      align-content: center; 
      justify-self: center; 
    
  } 

  /* footer begins */

  footer { 
      height:150px; 
      background-color: var(--secondary-color); 
      display: flex; 
      flex-wrap: wrap; 
      align-content: center; 
      justify-content: center;   
      
      margin-top: 75px;
      color: white;
      
  
  } 

  .bottom {  
    flex-direction: column;
    align-items: center;
  } 

  @media screen and (max-width: 980px) {  
    .hero {   
        background-position: center;   
     }  

     .hometext { 
         width: 60%; 
     }

  } 

  @media screen and (max-width: 768px) {  

    h1{ 
        color: yellow;
    } 

    .hero {   
        background-position: 50%;   
     }  

      .hometext { 
          align-content: center; 
          justify-content: center; 
          align-items: center; 
      } 

      button{ 
          width: 200px;
      } 

      .main1 { 
          flex-direction: column; 
          justify-content: center; 
          
      } 

      .hometext2 {  
          width: 75%;
          order: 2;
      }
  }